
.mainContainer{
  border: 1px solid black;
  width: 300px;
  height: 500px;
  margin: auto;
  border-radius: 5px;
}

.screen{
  width: 95%;
  height: 30%;
  border: 1px solid red;
  border-radius: 5px;
  margin: auto;
  margin-top: 5px;
}

.keySection{
  /* border: 1px solid greenyellow; */
  width: 95%;
  height: 65%;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 8px;
}

.keySection>div{
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
}
.keySection>div>button{
  color: white;
  background-color: black;
  padding: 5px;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 5px;
}
