
.mainContainer{
  border: 1px solid black;
  width: 300px;
  height: 400px;
  margin: auto;
  border-radius: 5px;
  background-color: #8BBCCC;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.screen{
  box-sizing: border-box;
  padding: 10px;
  width: 94%;
  height: 15%;
  border-radius: 5px;
  margin: auto;
  margin-top: 5px;
  text-align: end;
  overflow-x: hidden;
  background-color: chartreuse;
}
.screen>h1{
  margin: 0px;
}

.keySection{
  /* border: 1px solid greenyellow; */
  width: 95%;
  height: 65%;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 8px;
}

.keySection>div{
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
}
.keySection>div>button{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  color: white;
  background-color: black;
  padding: 5px;
  border: none;
  width: 67px;
  height: 60px;
  border-radius: 5px;
}
.keySection>div>button:hover{
  cursor: pointer;

}
